In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel(r'D:\Assignment INSAID\NULL inovation\Tweet_NFT.xlsx')
data.head()

,id,tweet_text,tweet_created_at,tweet_intent
0,1212762.0,@crypto_brody @eCoLoGy1990 @MoonrunnersNFT @It...,2022-08-06T16:56:36.000Z,Community
1,1212763.0,Need Sick Character artâ_x009d_“#art #artist #...,2022-08-06T16:56:36.000Z,Giveaway
2,1212765.0,@The_Hulk_NFT @INagotchiNFT @Tesla @killabears...,2022-08-06T16:56:35.000Z,Appreciation
3,1212766.0,@CryptoBatzNFT @DarekBTW The first project in ...,2022-08-06T16:56:35.000Z,Community
4,1212767.0,@sashadysonn The first project in crypto with ...,2022-08-06T16:56:34.000Z,Community

In [4]:
training_data = data[data['tweet_intent'].isnull() == False] #spliting the data set for training which have the tweet_intent present.
training_data.head()

,id,tweet_text,tweet_created_at,tweet_intent
0,1212762.0,@crypto_brody @eCoLoGy1990 @MoonrunnersNFT @It...,2022-08-06T16:56:36.000Z,Community
1,1212763.0,Need Sick Character artâ_x009d_“#art #artist #...,2022-08-06T16:56:36.000Z,Giveaway
2,1212765.0,@The_Hulk_NFT @INagotchiNFT @Tesla @killabears...,2022-08-06T16:56:35.000Z,Appreciation
3,1212766.0,@CryptoBatzNFT @DarekBTW The first project in ...,2022-08-06T16:56:35.000Z,Community
4,1212767.0,@sashadysonn The first project in crypto with ...,2022-08-06T16:56:34.000Z,Community

In [5]:
testing_data = data[data['tweet_intent'].isnull() == True] #spliting the data set for testing which have the tweet_intent are not present.
testing_data.head()

,id,tweet_text,tweet_created_at,tweet_intent
96364,1212764.0,15% off ðŸ§™â€_x008d_â™‚ï¸_x008f_ #Wizardia NF...,2022-08-06T16:56:35.000Z,NaN
96365,1212770.0,@asksabir007 @dao_lm Don't miss the chance to ...,2022-08-06T16:56:33.000Z,NaN
96366,1212773.0,This zesty faucet from @_bitcoiner is making m...,2022-08-06T16:56:33.000Z,NaN
96367,1212804.0,15% off ðŸ§™â€_x008d_â™‚ï¸_x008f_ #Wizardia NF...,2022-08-06T16:56:23.000Z,NaN
96368,1212776.0,"@Kavaboy_NFT @tanya_4d Message me, letâ€™s tal...",2022-08-06T16:56:32.000Z,NaN

In [6]:
x_train = training_data['tweet_text']
y_train = training_data['tweet_intent']

x_test = testing_data['tweet_text']
y_test = testing_data['tweet_intent']

from sklearn.feature_extraction.text import CountVectorizer # To convert text data into numerical data in the form of vector.
from sklearn.feature_extraction.text import TfidfTransformer # To convert matrix into the normalized tfid.

count_vect = CountVectorizer() 
X_train_counts = count_vect.fit_transform(x_train) 
X_train_counts.shape

tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

from sklearn.naive_bayes import MultinomialNB # Use the Multinomial Naive Bayes to predict (best fit for NLP)
clf = MultinomialNB().fit(X_train_tfidf, y_train)

print(clf.predict(count_vect.transform(["I want to buy a NFT"])))

['Community']

In [9]:
def predict_intent(text):                                   # Creating function to represnt the predicted output in the form or data set.
    return clf.predict(count_vect.transform([text]))[0]

testing_data['tweet_intent'] = testing_data[0:10]['tweet_text'].apply(predict_intent)
testing_data.head(10)

C:\Users\himan\AppData\Local\Temp\ipykernel_24000\1709352997.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testing_data['tweet_intent'] = testing_data[0:10]['tweet_text'].apply(predict_intent)

,id,tweet_text,tweet_created_at,tweet_intent
96364,1212764.0,15% off ðŸ§™â€_x008d_â™‚ï¸_x008f_ #Wizardia NF...,2022-08-06T16:56:35.000Z,Giveaway
96365,1212770.0,@asksabir007 @dao_lm Don't miss the chance to ...,2022-08-06T16:56:33.000Z,Giveaway
96366,1212773.0,This zesty faucet from @_bitcoiner is making m...,2022-08-06T16:56:33.000Z,Community
96367,1212804.0,15% off ðŸ§™â€_x008d_â™‚ï¸_x008f_ #Wizardia NF...,2022-08-06T16:56:23.000Z,Giveaway
96368,1212776.0,"@Kavaboy_NFT @tanya_4d Message me, letâ€™s tal...",2022-08-06T16:56:32.000Z,Appreciation
96369,1212779.0,@berylbilici glad you stayed. The NFT world ke...,2022-08-06T16:56:31.000Z,Community
96370,1212780.0,Check out this NFT.\n#NFT #NFTCommuntiy #NFTPL...,2022-08-06T16:56:30.000Z,Community
96371,1212782.0,@S_C_NFT Cool,2022-08-06T16:56:29.000Z,Appreciation
96372,1212783.0,@osf_nft @elonmusk So funnyðŸ˜‚,2022-08-06T16:56:29.000Z,Community
96373,1212785.0,@RealShibaDoge REVOLUZION is Multi-DApp ecosys...,2022-08-06T16:56:29.000Z,Community

I can improve this data set more by removing the @ from the text section so our data set looks better .